<ng-template [ngFor] let-pokemon [ngForOf]="getAllPokemons">
  <a [routerLink]="['details', pokemon.info?.id]" class="pokemon">
    <section class="pokemon__status">
      <h2>{{ pokemon.name }}</h2>
      <ul>
        <li *ngFor="let value of pokemon.info?.types">{{ value.type.name }}</li>
      </ul>
    </section>

    <section class="pokemon__image">
      <img
        [src]="pokemon.info?.sprites?.other?.dream_world?.front_default"
        [alt]="pokemon.name"
      />
    </section>
  </a>
</ng-template>
